@media screen and (max-width: 767px) {
  .clip-wave {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 94.93%,
      1% 94.64%,
      2% 94.33%,
      3% 94.01%,
      4% 93.68%,
      5% 93.34%,
      6% 93%,
      7% 92.65%,
      8% 92.3%,
      9% 91.94%,
      10% 91.59%,
      11% 91.24%,
      12% 90.89%,
      13% 90.55%,
      14% 90.22%,
      15% 89.89%,
      16% 89.57%,
      17% 89.27%,
      18% 88.98%,
      19% 88.7%,
      20% 88.44%,
      21% 88.19%,
      22% 87.97%,
      23% 87.76%,
      24% 87.57%,
      25% 87.41%,
      26% 87.26%,
      27% 87.14%,
      28% 87.04%,
      29% 86.97%,
      30% 86.92%,
      31% 86.89%,
      32% 86.89%,
      33% 86.91%,
      34% 86.96%,
      35% 87.03%,
      36% 87.13%,
      37% 87.25%,
      38% 87.39%,
      39% 87.55%,
      40% 87.73%,
      41% 87.94%,
      42% 88.16%,
      43% 88.4%,
      44% 88.66%,
      45% 88.94%,
      46% 89.23%,
      47% 89.53%,
      48% 89.85%,
      49% 90.17%,
      50% 90.51%,
      51% 90.85%,
      52% 91.19%,
      53% 91.54%,
      54% 91.9%,
      55% 92.25%,
      56% 92.6%,
      57% 92.95%,
      58% 93.3%,
      59% 93.63%,
      60% 93.96%,
      61% 94.29%,
      62% 94.6%,
      63% 94.89%,
      64% 95.18%,
      65% 95.45%,
      66% 95.7%,
      67% 95.93%,
      68% 96.15%,
      69% 96.35%,
      70% 96.52%,
      71% 96.68%,
      72% 96.81%,
      73% 96.92%,
      74% 97%,
      75% 97.06%,
      76% 97.1%,
      77% 97.11%,
      78% 97.1%,
      79% 97.06%,
      80% 97%,
      81% 96.92%,
      82% 96.81%,
      83% 96.68%,
      84% 96.53%,
      85% 96.35%,
      86% 96.16%,
      87% 95.94%,
      88% 95.71%,
      89% 95.46%,
      90% 95.19%,
      91% 94.91%,
      92% 94.61%,
      93% 94.3%,
      94% 93.98%,
      95% 93.65%,
      96% 93.31%,
      97% 92.96%,
      98% 92.62%,
      99% 92.26%,
      100% 91.91%
    );
  }
}

@media screen and (min-width: 768px) {
  .clip-wave {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 87.2%,
      1% 87.03%,
      2% 86.93%,
      3% 86.89%,
      4% 86.92%,
      5% 87.01%,
      6% 87.16%,
      7% 87.38%,
      8% 87.66%,
      9% 87.99%,
      10% 88.37%,
      11% 88.8%,
      12% 89.27%,
      13% 89.78%,
      14% 90.31%,
      15% 90.87%,
      16% 91.44%,
      17% 92.01%,
      18% 92.59%,
      19% 93.16%,
      20% 93.71%,
      21% 94.25%,
      22% 94.75%,
      23% 95.22%,
      24% 95.65%,
      25% 96.03%,
      26% 96.36%,
      27% 96.63%,
      28% 96.85%,
      29% 97%,
      30% 97.09%,
      31% 97.11%,
      32% 97.07%,
      33% 96.96%,
      34% 96.79%,
      35% 96.56%,
      36% 96.27%,
      37% 95.93%,
      38% 95.54%,
      39% 95.1%,
      40% 94.62%,
      41% 94.1%,
      42% 93.57%,
      43% 93.01%,
      44% 92.43%,
      45% 91.86%,
      46% 91.28%,
      47% 90.72%,
      48% 90.17%,
      49% 89.64%,
      50% 89.14%,
      51% 88.68%,
      52% 88.26%,
      53% 87.89%,
      54% 87.58%,
      55% 87.32%,
      56% 87.12%,
      57% 86.98%,
      58% 86.9%,
      59% 86.89%,
      60% 86.95%,
      61% 87.07%,
      62% 87.25%,
      63% 87.5%,
      64% 87.8%,
      65% 88.15%,
      66% 88.56%,
      67% 89.01%,
      68% 89.49%,
      69% 90.01%,
      70% 90.56%,
      71% 91.12%,
      72% 91.69%,
      73% 92.27%,
      74% 92.85%,
      75% 93.41%,
      76% 93.95%,
      77% 94.47%,
      78% 94.96%,
      79% 95.41%,
      80% 95.82%,
      81% 96.18%,
      82% 96.49%,
      83% 96.73%,
      84% 96.92%,
      85% 97.05%,
      86% 97.11%,
      87% 97.1%,
      88% 97.03%,
      89% 96.9%,
      90% 96.7%,
      91% 96.44%,
      92% 96.13%,
      93% 95.76%,
      94% 95.35%,
      95% 94.89%,
      96% 94.39%,
      97% 93.87%,
      98% 93.32%,
      99% 92.75%,
      100% 92.18%
    );
  }
}
