@media screen and (max-width : 767px) {
  
  .clip-wave {
   clip-path: polygon(100% 0%, 0% 0% , 0.00% 94.93%, 1.00% 94.64%, 2.00% 94.33%, 3.00% 94.01%, 4.00% 93.68%, 5.00% 93.34%, 6.00% 93.00%, 7.00% 92.65%, 8.00% 92.30%, 9.00% 91.94%, 10.00% 91.59%, 11.00% 91.24%, 12.00% 90.89%, 13.00% 90.55%, 14.00% 90.22%, 15.00% 89.89%, 16.00% 89.57%, 17.00% 89.27%, 18.00% 88.98%, 19.00% 88.70%, 20.00% 88.44%, 21.00% 88.19%, 22.00% 87.97%, 23.00% 87.76%, 24.00% 87.57%, 25.00% 87.41%, 26.00% 87.26%, 27.00% 87.14%, 28.00% 87.04%, 29.00% 86.97%, 30.00% 86.92%, 31.00% 86.89%, 32.00% 86.89%, 33.00% 86.91%, 34.00% 86.96%, 35.00% 87.03%, 36.00% 87.13%, 37.00% 87.25%, 38.00% 87.39%, 39.00% 87.55%, 40.00% 87.73%, 41.00% 87.94%, 42.00% 88.16%, 43.00% 88.40%, 44.00% 88.66%, 45.00% 88.94%, 46.00% 89.23%, 47.00% 89.53%, 48.00% 89.85%, 49.00% 90.17%, 50.00% 90.51%, 51.00% 90.85%, 52.00% 91.19%, 53.00% 91.54%, 54.00% 91.90%, 55.00% 92.25%, 56.00% 92.60%, 57.00% 92.95%, 58.00% 93.30%, 59.00% 93.63%, 60.00% 93.96%, 61.00% 94.29%, 62.00% 94.60%, 63.00% 94.89%, 64.00% 95.18%, 65.00% 95.45%, 66.00% 95.70%, 67.00% 95.93%, 68.00% 96.15%, 69.00% 96.35%, 70.00% 96.52%, 71.00% 96.68%, 72.00% 96.81%, 73.00% 96.92%, 74.00% 97.00%, 75.00% 97.06%, 76.00% 97.10%, 77.00% 97.11%, 78.00% 97.10%, 79.00% 97.06%, 80.00% 97.00%, 81.00% 96.92%, 82.00% 96.81%, 83.00% 96.68%, 84.00% 96.53%, 85.00% 96.35%, 86.00% 96.16%, 87.00% 95.94%, 88.00% 95.71%, 89.00% 95.46%, 90.00% 95.19%, 91.00% 94.91%, 92.00% 94.61%, 93.00% 94.30%, 94.00% 93.98%, 95.00% 93.65%, 96.00% 93.31%, 97.00% 92.96%, 98.00% 92.62%, 99.00% 92.26%, 100.00% 91.91%);
  }
}

@media screen and (min-width: 768px) {

  .clip-wave {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 97.5%,
      1% 96.35%,
      2% 95.09%,
      3% 93.78%,
      4% 92.52%,
      5% 91.37%,
      6% 90.4%,
      7% 89.68%,
      8% 89.24%,
      9% 89.11%,
      10% 89.3%,
      11% 89.8%,
      12% 90.57%,
      13% 91.58%,
      14% 92.76%,
      15% 94.04%,
      16% 95.34%,
      17% 96.59%,
      18% 97.71%,
      19% 98.63%,
      20% 99.31%,
      21% 99.69%,
      22% 99.77%,
      23% 99.52%,
      24% 98.97%,
      25% 98.15%,
      26% 97.11%,
      27% 95.91%,
      28% 94.62%,
      29% 93.32%,
      30% 92.09%,
      31% 91%,
      32% 90.11%,
      33% 89.49%,
      34% 89.16%,
      35% 89.14%,
      36% 89.45%,
      37% 90.05%,
      38% 90.91%,
      39% 91.99%,
      40% 93.21%,
      41% 94.5%,
      42% 95.8%,
      43% 97.01%,
      44% 98.07%,
      45% 98.91%,
      46% 99.48%,
      47% 99.76%,
      48% 99.71%,
      49% 99.36%,
      50% 98.7%,
      51% 97.8%,
      52% 96.69%,
      53% 95.45%,
      54% 94.15%,
      55% 92.87%,
      56% 91.68%,
      57% 90.65%,
      58% 89.86%,
      59% 89.33%,
      60% 89.12%,
      61% 89.22%,
      62% 89.63%,
      63% 90.33%,
      64% 91.28%,
      65% 92.41%,
      66% 93.67%,
      67% 94.97%,
      68% 96.24%,
      69% 97.41%,
      70% 98.4%,
      71% 99.15%,
      72% 99.62%,
      73% 99.78%,
      74% 99.62%,
      75% 99.15%,
      76% 98.41%,
      77% 97.42%,
      78% 96.26%,
      79% 94.99%,
      80% 93.68%,
      81% 92.43%,
      82% 91.29%,
      83% 90.34%,
      84% 89.64%,
      85% 89.22%,
      86% 89.12%,
      87% 89.33%,
      88% 89.85%,
      89% 90.64%,
      90% 91.67%,
      91% 92.85%,
      92% 94.14%,
      93% 95.44%,
      94% 96.68%,
      95% 97.79%,
      96% 98.69%,
      97% 99.35%,
      98% 99.71%,
      99% 99.76%,
      100% 99.49%
    );
  }
}

