@import "tailwindcss";
@import "tailwindcss/utilities";
@import "../styles/Navbar.css";
@import "../styles/home.css";

@custom-variant dark (&:is(.dark *));

/* custom styles */
@media screen and (max-width: 767px) {
  .clip-wave {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 94.93%,
      1% 94.64%,
      2% 94.33%,
      3% 94.01%,
      4% 93.68%,
      5% 93.34%,
      6% 93%,
      7% 92.65%,
      8% 92.3%,
      9% 91.94%,
      10% 91.59%,
      11% 91.24%,
      12% 90.89%,
      13% 90.55%,
      14% 90.22%,
      15% 89.89%,
      16% 89.57%,
      17% 89.27%,
      18% 88.98%,
      19% 88.7%,
      20% 88.44%,
      21% 88.19%,
      22% 87.97%,
      23% 87.76%,
      24% 87.57%,
      25% 87.41%,
      26% 87.26%,
      27% 87.14%,
      28% 87.04%,
      29% 86.97%,
      30% 86.92%,
      31% 86.89%,
      32% 86.89%,
      33% 86.91%,
      34% 86.96%,
      35% 87.03%,
      36% 87.13%,
      37% 87.25%,
      38% 87.39%,
      39% 87.55%,
      40% 87.73%,
      41% 87.94%,
      42% 88.16%,
      43% 88.4%,
      44% 88.66%,
      45% 88.94%,
      46% 89.23%,
      47% 89.53%,
      48% 89.85%,
      49% 90.17%,
      50% 90.51%,
      51% 90.85%,
      52% 91.19%,
      53% 91.54%,
      54% 91.9%,
      55% 92.25%,
      56% 92.6%,
      57% 92.95%,
      58% 93.3%,
      59% 93.63%,
      60% 93.96%,
      61% 94.29%,
      62% 94.6%,
      63% 94.89%,
      64% 95.18%,
      65% 95.45%,
      66% 95.7%,
      67% 95.93%,
      68% 96.15%,
      69% 96.35%,
      70% 96.52%,
      71% 96.68%,
      72% 96.81%,
      73% 96.92%,
      74% 97%,
      75% 97.06%,
      76% 97.1%,
      77% 97.11%,
      78% 97.1%,
      79% 97.06%,
      80% 97%,
      81% 96.92%,
      82% 96.81%,
      83% 96.68%,
      84% 96.53%,
      85% 96.35%,
      86% 96.16%,
      87% 95.94%,
      88% 95.71%,
      89% 95.46%,
      90% 95.19%,
      91% 94.91%,
      92% 94.61%,
      93% 94.3%,
      94% 93.98%,
      95% 93.65%,
      96% 93.31%,
      97% 92.96%,
      98% 92.62%,
      99% 92.26%,
      100% 91.91%
    );
  }
  .clip-wave-pic {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 94.93%,
      1% 94.64%,
      2% 94.33%,
      3% 94.01%,
      4% 93.68%,
      5% 93.34%,
      6% 93%,
      7% 92.65%,
      8% 92.3%,
      9% 91.94%,
      10% 91.59%,
      11% 91.24%,
      12% 90.89%,
      13% 90.55%,
      14% 90.22%,
      15% 89.89%,
      16% 89.57%,
      17% 89.27%,
      18% 88.98%,
      19% 88.7%,
      20% 88.44%,
      21% 88.19%,
      22% 87.97%,
      23% 87.76%,
      24% 87.57%,
      25% 87.41%,
      26% 87.26%,
      27% 87.14%,
      28% 87.04%,
      29% 86.97%,
      30% 86.92%,
      31% 86.89%,
      32% 86.89%,
      33% 86.91%,
      34% 86.96%,
      35% 87.03%,
      36% 87.13%,
      37% 87.25%,
      38% 87.39%,
      39% 87.55%,
      40% 87.73%,
      41% 87.94%,
      42% 88.16%,
      43% 88.4%,
      44% 88.66%,
      45% 88.94%,
      46% 89.23%,
      47% 89.53%,
      48% 89.85%,
      49% 90.17%,
      50% 90.51%,
      51% 90.85%,
      52% 91.19%,
      53% 91.54%,
      54% 91.9%,
      55% 92.25%,
      56% 92.6%,
      57% 92.95%,
      58% 93.3%,
      59% 93.63%,
      60% 93.96%,
      61% 94.29%,
      62% 94.6%,
      63% 94.89%,
      64% 95.18%,
      65% 95.45%,
      66% 95.7%,
      67% 95.93%,
      68% 96.15%,
      69% 96.35%,
      70% 96.52%,
      71% 96.68%,
      72% 96.81%,
      73% 96.92%,
      74% 97%,
      75% 97.06%,
      76% 97.1%,
      77% 97.11%,
      78% 97.1%,
      79% 97.06%,
      80% 97%,
      81% 96.92%,
      82% 96.81%,
      83% 96.68%,
      84% 96.53%,
      85% 96.35%,
      86% 96.16%,
      87% 95.94%,
      88% 95.71%,
      89% 95.46%,
      90% 95.19%,
      91% 94.91%,
      92% 94.61%,
      93% 94.3%,
      94% 93.98%,
      95% 93.65%,
      96% 93.31%,
      97% 92.96%,
      98% 92.62%,
      99% 92.26%,
      100% 91.91%
    );
  }
}

@media screen and (min-width: 768px) {
  .clip-wave-pic {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 93%,
      1% 92%,
      2% 91%,
      3% 90%,
      4% 89%,
      5% 88%,
      6% 87%,
      7% 86%,
      8% 85.2%,
      8.5% 85%,
      9% 84.8%,
      9.5% 84.85%,
      10% 84.9%,
      10.5% 85.1%,
      11% 85.3%,
      11.5% 85.7%,
      12% 86.1%,
      12.5% 86.65%,
      13% 87.2%,
      13.5% 87.75%,
      14% 88.3%,
      14.5% 88.85%,
      15% 89.4%,
      15.5% 89.95%,
      16% 90.5%,
      16.5% 91%,
      17% 91.5%,
      17.5% 92%,
      18% 92.5%,
      18.5% 93%,
      19% 93.5%,
      19.5% 93.8%,
      20% 94.1%,
      20.5% 94.3%,
      21% 94.5%,
      21.5% 94.55%,
      22% 94.6%,
      22.5% 94.55%,
      23% 94.6%,
      23.5% 94.5%,
      24% 94.4%,
      24.5% 94.25%,
      25% 94.1%,
      25.5% 93.8%,
      26% 93.5%,
      26.5% 93.1%,
      27% 92.7%,
      27.5% 92.35%,
      28% 92%,
      28.5% 91.5%,
      29% 91%,
      29.5% 90.5%,
      30% 90%,
      30.5% 89.5%,
      31% 89%,
      31.5% 88.5%,
      32% 88%,
      32.5% 87.5%,
      33% 87%,
      33.5% 86.5%,
      34% 86.1%,
      34.5% 85.9%,
      35% 86%,
      35.5% 86.175%,
      36% 86.55%,
      36.5% 87.025%,
      37% 87.5%,
      37.5% 88.1%,
      38% 88.7%,
      38.5% 89.35%,
      39% 90%,
      39.5% 90.5%,
      40% 91%,
      40.5% 91.5%,
      41% 92%,
      41.5% 92.5%,
      42% 93%,
      42.5% 93.5%,
      43% 94%,
      43.5% 94.5%,
      44% 95%,
      44.5% 95.5%,
      45% 96%,
      45.5% 96.25%,
      46% 96.5%,
      46.5% 96.65%,
      47% 96.8%,
      47.5% 96.65%,
      48% 96.5%,
      48.5% 96.25%,
      49% 96%,
      49.5% 95.5%,
      50% 95%,
      50.5% 94.5%,
      51% 94%,
      51.5% 93.5%,
      52% 93%,
      52.5% 92.5%,
      53% 92%,
      53.5% 91.5%,
      54% 91%,
      54.5% 90.5%,
      55% 90%,
      55.5% 89.5%,
      56% 89%,
      56.5% 88.5%,
      57% 88%,
      57.5% 87.5%,
      58% 87%,
      58.5% 86.75%,
      59% 86.5%,
      59.5% 86.25%,
      60% 86%,
      60.5% 86.1%,
      61% 86.2%,
      61.5% 86.6%,
      62% 87%,
      62.5% 87.75%,
      63% 88.5%,
      63.5% 89.5%,
      64% 90.5%,
      64.5% 91.455%,
      65% 92.41%,
      65.5% 93.04%,
      66% 93.67%,
      66.5% 94.32%,
      67% 94.97%,
      67.5% 95.605%,
      68% 96.24%,
      68.5% 96.825%,
      69% 97.41%,
      69.5% 97.905%,
      70% 98.4%,
      70.5% 98.775%,
      71% 99.15%,
      71.5% 99.385%,
      72% 99.62%,
      72.5% 99.7%,
      73% 99.78%,
      73.5% 99.7%,
      74% 99.62%,
      74.5% 99.385%,
      75% 99.15%,
      75.5% 98.78%,
      76% 98.41%,
      76.5% 97.915%,
      77% 97.42%,
      77.5% 96.84%,
      78% 96.26%,
      78.5% 95.625%,
      79% 94.99%,
      79.5% 94.335%,
      80% 93.68%,
      80.5% 93.055%,
      81% 92.43%,
      81.5% 91.86%,
      82% 91.29%,
      82.5% 90.815%,
      83% 90.34%,
      83.5% 89.99%,
      84% 89.64%,
      84.5% 89.43%,
      85% 89.22%,
      85.5% 89.175%,
      86% 89.12%,
      86.5% 89.225%,
      87% 89.33%,
      87.5% 89.59%,
      88% 89.85%,
      88.5% 90.245%,
      89% 90.64%,
      89.5% 91.155%,
      90% 91.67%,
      90.5% 92.26%,
      91% 92.85%,
      91.5% 93.495%,
      92% 94.14%,
      92.5% 94.79%,
      93% 95.44%,
      93.5% 96.06%,
      94% 96.68%,
      94.5% 97.235%,
      95% 97.79%,
      95.5% 98.24%,
      96% 98.69%,
      96.5% 99.02%,
      97% 99.35%,
      97.5% 99.53%,
      98% 99.71%,
      98.5% 99.735%,
      99% 99.76%,
      99.5% 99.625%,
      100% 99.49%
    );
  }

  .clip-wave {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 97.5%,
      1% 96.35%,
      2% 95.09%,
      3% 93.78%,
      4% 92.52%,
      5% 91.37%,
      6% 90.4%,
      7% 89.68%,
      8% 89.24%,
      9% 89.11%,
      10% 89.3%,
      11% 89.8%,
      12% 90.57%,
      13% 91.58%,
      14% 92.76%,
      15% 94.04%,
      16% 95.34%,
      17% 96.59%,
      18% 97.71%,
      19% 98.63%,
      20% 99.31%,
      21% 99.69%,
      22% 99.77%,
      23% 99.52%,
      24% 98.97%,
      25% 98.15%,
      26% 97.11%,
      27% 95.91%,
      28% 94.62%,
      29% 93.32%,
      30% 92.09%,
      31% 91%,
      32% 90.11%,
      33% 89.49%,
      34% 89.16%,
      35% 89.14%,
      36% 89.45%,
      37% 90.05%,
      38% 90.91%,
      39% 91.99%,
      40% 93.21%,
      41% 94.5%,
      42% 95.8%,
      43% 97.01%,
      44% 98.07%,
      45% 98.91%,
      46% 99.48%,
      47% 99.76%,
      48% 99.71%,
      49% 99.36%,
      50% 98.7%,
      51% 97.8%,
      52% 96.69%,
      53% 95.45%,
      54% 94.15%,
      55% 92.87%,
      56% 91.68%,
      57% 90.65%,
      58% 89.86%,
      59% 89.33%,
      60% 89.12%,
      61% 89.22%,
      62% 89.63%,
      63% 90.33%,
      64% 91.28%,
      65% 92.41%,
      66% 93.67%,
      67% 94.97%,
      68% 96.24%,
      69% 97.41%,
      70% 98.4%,
      71% 99.15%,
      72% 99.62%,
      73% 99.78%,
      74% 99.62%,
      75% 99.15%,
      76% 98.41%,
      77% 97.42%,
      78% 96.26%,
      79% 94.99%,
      80% 93.68%,
      81% 92.43%,
      82% 91.29%,
      83% 90.34%,
      84% 89.64%,
      85% 89.22%,
      86% 89.12%,
      87% 89.33%,
      88% 89.85%,
      89% 90.64%,
      90% 91.67%,
      91% 92.85%,
      92% 94.14%,
      93% 95.44%,
      94% 96.68%,
      95% 97.79%,
      96% 98.69%,
      97% 99.35%,
      98% 99.71%,
      99% 99.76%,
      100% 99.49%
    );
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #f2f5fa;
  --foreground: #1c2826;
  --popover: #c30011;
  --popover-foreground: #f2f5fa;
  --primary: #a90015;
  --primary-foreground: #f2f5fa;
  --secondary: #ced2dc;
  --secondary-foreground: #1c2826;

  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #1c2826;
  --foreground: #f2f5fa;
  --popover: #c30011;
  --popover-foreground: #f2f5fa;
  --primary: #c30011;
  --primary-foreground: #f2f5fa;
  --secondary: #273836;
  --secondary-foreground: #f2f5fa;

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
